    <!--
        We cannot code directly on the home and about html
        file this chunk enables us.
        {% block(fixed keyword) content(variable name) %}

    -->




    <!--
   We cannot code directly on the home and about html
   file this chunk enables us.
   {% block(fixed keyword) content(variable name) %}
   {% block content %}
<h3>Contents:</h3>
<ul>
   <li>Home</li>
   <li>About</li>
   <li>Employees</li>
   <li>Careers</li>
   <li>Contact Us</li>
</ul>
{% endblock content %}
-->